.App {
  margin: 0 auto;
  width: 100%;
  max-width: 256rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.08);
}

.App__inner {
  position: relative;
  margin: 0 auto;
  max-width: 144rem;
}

.App h1,
.App h2,
.App h3 {
  font-family: 'Potta One Regular';
}
