.app-header {
  background-color: white !important;
}

.top-header {
  height: 4rem;
  padding-left: 4%;
  padding-right: 4%;
  display: block;
  background-color: #f5f5f5;
  line-height: 40px;
}

.top-header .inner {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.button-group {
  float: right;
  margin-top: 0.5rem;
}

.main-header {
  background-color: white !important;
  height: 6rem;
  line-height: 6rem;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.logo-link {
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

.App-logo {
  height: 6rem;
  width: 6rem;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  line-height: 6.4rem !important;
  display: inline;
  color: #03a9f4 !important;
}

.search-input {
  width: 40rem !important;
  line-height: 6.4rem;
  margin-top: 1.7rem;
  margin-left: 3.7rem;
}

.main-menu {
  padding-left: 6% !important;
  padding-right: 6% !important;
  background-color: #1976d2 !important;
  color: #f5f5f5 !important;
}
